Sensor_flows.json
[{"id":"b2c7319c.877ff","type":"tab","label":"Sensor","disabled":false,"info":""},{"id":"85226701.a3d418","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"ff83c29e.4f979","type":"mqtt-broker","name":"","broker":"140.112.18.2","port":"11036","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9a96a8b1.92db78","type":"ui_group","name":"Col2","tab":"199955f8.90532a","order":2,"disp":false,"width":"6","collapse":false},{"id":"552c02b9.993c3c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"199955f8.90532a","type":"ui_tab","name":"RPi Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"41747ee4.2e222","type":"ui_group","name":"Col1","tab":"199955f8.90532a","order":1,"disp":false,"width":"6","collapse":false},{"id":"6505a27e.1af07c","type":"ui_group","name":"Action","tab":"199955f8.90532a","order":3,"disp":false,"width":"6","collapse":false},{"id":"802ff3b8.86de8","type":"mqtt out","z":"b2c7319c.877ff","name":"knock","topic":"knock","qos":"1","retain":"","broker":"ff83c29e.4f979","x":410,"y":80,"wires":[]},{"id":"63fe4eb0.972cb","type":"inject","z":"b2c7319c.877ff","d":true,"name":"Knock signal","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"time","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["802ff3b8.86de8","e6fef42b.f6b618"]]},{"id":"45cc7784.109ca8","type":"exec","z":"b2c7319c.877ff","command":"/root/img_backup.sh","addpay":true,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"sync image","x":370,"y":320,"wires":[[],[],[]]},{"id":"e18689e9.ff5248","type":"debug","z":"b2c7319c.877ff","name":"re-send or re-capture","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":320,"wires":[]},{"id":"310d8b67.cf52e4","type":"mqtt out","z":"b2c7319c.877ff","name":"","topic":"imgName","qos":"1","retain":"","broker":"ff83c29e.4f979","x":880,"y":160,"wires":[]},{"id":"1d0af389.34237c","type":"function","z":"b2c7319c.877ff","name":"","func":"msg.payload = msg.time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":160,"wires":[["310d8b67.cf52e4","4006ae37.fc634"]]},{"id":"e6fef42b.f6b618","type":"exec","z":"b2c7319c.877ff","command":"/home/pi/capture_img.sh","addpay":true,"append":"{{ msg.payload }}","useSpawn":"false","timer":"5","oldrc":false,"name":"","x":470,"y":160,"wires":[["1d0af389.34237c","4006ae37.fc634"],[],[]]},{"id":"3aedbb56.6facb4","type":"mqtt in","z":"b2c7319c.877ff","d":true,"name":"","topic":"capImg","qos":"1","datatype":"auto","broker":"ff83c29e.4f979","x":90,"y":200,"wires":[["60ae757a.467abc"]]},{"id":"4006ae37.fc634","type":"debug","z":"b2c7319c.877ff","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":80,"wires":[]},{"id":"60ae757a.467abc","type":"function","z":"b2c7319c.877ff","name":"","func":"msg.time = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":200,"wires":[["e6fef42b.f6b618"]]},{"id":"efe8c350.800fb","type":"inject","z":"b2c7319c.877ff","d":true,"name":"rpi status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"status","payload":"1","payloadType":"num","x":140,"y":420,"wires":[["d099bd03.a25d5"]]},{"id":"d099bd03.a25d5","type":"mqtt out","z":"b2c7319c.877ff","name":"","topic":"rpi/status","qos":"1","retain":"","broker":"ff83c29e.4f979","x":420,"y":420,"wires":[]},{"id":"96db9091.8845a","type":"mqtt out","z":"b2c7319c.877ff","name":"","topic":"rpi/door","qos":"","retain":"","broker":"ff83c29e.4f979","x":420,"y":500,"wires":[]},{"id":"c8755c35.aa2ba","type":"inject","z":"b2c7319c.877ff","d":true,"name":"door status","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":150,"y":500,"wires":[["96db9091.8845a"]]},{"id":"752068ee.7c96b8","type":"exec","z":"85226701.a3d418","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":330,"y":100,"wires":[["af50c614.5e5bb8"],[],[]]},{"id":"46012ddd.767c34","type":"inject","z":"85226701.a3d418","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"time","v":"","vt":"date"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["752068ee.7c96b8","4af03117.0c77e","f8e140cb.236bf","90b69f2e.13324"]]},{"id":"4af03117.0c77e","type":"exec","z":"85226701.a3d418","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":330,"y":180,"wires":[["14b15cbb.a6ff03"],[],[]]},{"id":"f8e140cb.236bf","type":"exec","z":"85226701.a3d418","command":"free | grep Mem | awk '{print 100*($3+$5+$6)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":330,"y":260,"wires":[["5aa11d0f.9e1d04"],[],[]]},{"id":"90b69f2e.13324","type":"exec","z":"85226701.a3d418","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":330,"y":340,"wires":[["42aa9489.3f8bcc"],[],[]]},{"id":"af50c614.5e5bb8","type":"function","z":"85226701.a3d418","name":"","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":100,"wires":[["46f953aa.08092c","3deb0171.85901e"]]},{"id":"42aa9489.3f8bcc","type":"function","z":"85226701.a3d418","name":"","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["4f25c522.35a89c","75ca4bb2.a6e3f4"]]},{"id":"5aa11d0f.9e1d04","type":"function","z":"85226701.a3d418","name":"","func":"str = msg.payload\nmsg.payload = str.slice(0, -1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":260,"wires":[["cd5e4532.700a68","c6077f22.98b8f"]]},{"id":"14b15cbb.a6ff03","type":"function","z":"85226701.a3d418","name":"","func":"str = msg.payload\nmsg.payload = str.slice(0, -1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":180,"wires":[["12b988e3.d38627","6ac335e1.4d360c"]]},{"id":"46f953aa.08092c","type":"ui_gauge","z":"85226701.a3d418","name":"","group":"41747ee4.2e222","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":790,"y":100,"wires":[]},{"id":"12b988e3.d38627","type":"ui_gauge","z":"85226701.a3d418","name":"","group":"41747ee4.2e222","order":1,"width":0,"height":0,"gtype":"gage","title":"Processor","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":180,"wires":[]},{"id":"cd5e4532.700a68","type":"ui_gauge","z":"85226701.a3d418","name":"","group":"9a96a8b1.92db78","order":1,"width":0,"height":0,"gtype":"gage","title":"Memory","label":"RAM","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":260,"wires":[]},{"id":"4f25c522.35a89c","type":"ui_gauge","z":"85226701.a3d418","name":"","group":"9a96a8b1.92db78","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":340,"wires":[]},{"id":"91874943.baea28","type":"exec","z":"85226701.a3d418","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":440,"y":480,"wires":[[],[],[]]},{"id":"6f5d7a21.993124","type":"exec","z":"85226701.a3d418","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":450,"y":560,"wires":[[],[],[]]},{"id":"37d45992.e456a6","type":"ui_button","z":"85226701.a3d418","name":"","group":"6505a27e.1af07c","order":1,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":480,"wires":[["91874943.baea28"]]},{"id":"183c6882.529287","type":"ui_button","z":"85226701.a3d418","name":"","group":"6505a27e.1af07c","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":150,"y":560,"wires":[["6f5d7a21.993124"]]},{"id":"3deb0171.85901e","type":"mqtt out","z":"85226701.a3d418","name":"","topic":"rpi/cpu","qos":"1","retain":"","broker":"ff83c29e.4f979","x":660,"y":60,"wires":[]},{"id":"6ac335e1.4d360c","type":"mqtt out","z":"85226701.a3d418","name":"","topic":"rpi/processor","qos":"1","retain":"","broker":"ff83c29e.4f979","x":670,"y":140,"wires":[]},{"id":"c6077f22.98b8f","type":"mqtt out","z":"85226701.a3d418","name":"","topic":"rpi/mem","qos":"1","retain":"","broker":"ff83c29e.4f979","x":660,"y":220,"wires":[]},{"id":"75ca4bb2.a6e3f4","type":"mqtt out","z":"85226701.a3d418","name":"","topic":"rpi/disk","qos":"","retain":"","broker":"ff83c29e.4f979","x":660,"y":300,"wires":[]}]